<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-header">
    <h1>FireNet</h1>
  </div>
  <div class="navbar-nav mr-auto">
    <a routerLink="/" routerLinkActive="active" class="nav-item nav-link">Home</a>
    <a routerLink="/login" routerLinkActive="active" class="nav-item nav-link" *ngIf="!(authService.user | async)">Login</a>
  </div>
  <span *ngIf="authService.user | async">
    <p class="navbar-text navbar-right">Logged In: {{ (authService.user | async)?.displayName }} ({{ (authService.user | async)?.email }})</p>
  </span>
  <span *ngIf="!(authService.user | async)">
    <p class="navbar-text navbar-right">Logged Out</p>
  </span>
</nav>