<div class="row">
  <div class="col-sm-4 mx-auto">
    <div class="card text-center">
      <h4 class="card-header">
        {{ (user | async)?.origUid == user_uid ? "Your" : (user | async)?.displayName }} profile
      </h4>
      <img src="{{ (user | async)?.photoURL}}" alt="" class="card-img-top">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span>
            <i class="fa fa-user"></i>
            {{(user | async)?.displayName}}
          </span>
        </li>
        <li class="list-group-item">
          <span>
            <i class="fa fa-envelope">
              {{(user | async)?.email}}
            </i>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-8">
    <app-messages [recipientUid]="uid"></app-messages>
  </div>
</div>